.react__facts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(img/react-facts-body-bg.png);
    background-size: cover;
    /* border: 2px solid red; */
}

.react__facts-card-container {
    background-color: #21222A;
    color: white;
}

/* --------------------------------------------------------------------Header */
.react__facts-header {
    display: flex;
    align-items: center;
    padding: 1.1rem 1.4rem;
    background-color: #282D35;
}

.react__facts-logo {
    margin-right: .5rem;
}

.react__facts-h3 {
    color: #61DAFB;
    font-weight: 700;
    font-size: 1.5em;
    margin-right: auto;
}

.react__facts-h5 {
    font-size: 1.3em;
}

/* --------------------------------------------------------------------Main */

.react__facts-main {
    height: 30rem;
    padding: 2rem;
    position: relative;
}

.react__facts-h1 {
    font-size: 2.9em;
}

.react__facts-li {
    font-size: 1.2em;
    font-weight: 700;
    padding: .6rem;
}

/* .react__facts-li::before {
    content: "\2022";
    color: #61DAFB;
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
    width: 1em;
    height: 1rem;
    margin-left: -1em;
    margin-bottom: 1em;
} */

/* -------New Way to do bulletpoints */
.react__facts-li::marker {
    font-size: 1.4em;
    font-weight: 900;
    color: #61DAFB;
}

.react__facts-bg {
    opacity: 0.15;
    width: 11rem;
    top: 5rem;
    right: 0;
    position: absolute;
}